.header{
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    height: 50px;
}


.header__leftSide{
    width:100%;
    display:flex;
    color:white;
    align-items:center;
    margin: 20px;
}

.header__logoName > a{
    color: #fff;
    text-decoration: none;
}

/* .header__logoName > h1{
    padding-left: 15px; */

/* } */

.header__rightSide{
    display:flex;
    width:100%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}
.header__rightSide > a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding-right: 15px;
    font-weight: 700;

}


